#set mouse
set undo
set smooth
set autoindent
set casesensitive
set trimblanks
set smarthome
set tabsize 4
set linenumbers
set tabstospaces
set matchbrackets "(<[{)>]}"
set numbercolor grey,black

include "/usr/share/nano/*.nanorc"
